/* stylelint-disable max-line-length */
@font-face {
  font-family: 'Virgin Atlantic Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('fonts/gotham-bold-400.ttf') format('truetype');
}
