/* stylelint-disable max-line-length */
@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/gotham-2r-400.woff') format('woff');
}

@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/gotham-3r-400.woff') format('woff');
}

@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('fonts/gotham-bold-400.ttf') format('truetype');
}
